html, body {
    height: 100%;
}
#allPersons {
	position: relative;
	background-color: darkgrey;
	height: 500px;
	overflow-y: scroll;
}
.person {
	margin: 2%;
	height: 200px;
	background-color: red;
	float: left;
}