html, body {
	height: 100%;
	overflow: hidden;
	background-color: #383838;
	color: white;
}

#allPersons {
	color: black;
	position: relative;
	min-height: 50%;
	max-height: 75%;
	overflow-y: scroll;
	margin-bottom: 1%;
}
.person {
	-webkit-box-shadow:inset 0px 0px 0px 5px black;
	-moz-box-shadow:inset 0px 0px 0px 5px black;
	box-shadow:inset 0px 0px 0px 5px black;
	height: 300px;
	float: left;
}

#consoleDiv {
	height: 125px;
}

#console {
	text-align: left;
	background-color: #383838;
	height: 100%;
	width: 100%;
	resize: none;
}

#date {
	float: left;
}

##personsLeft {
	float: right;
}

.male {
	background-color: lightblue;
}

.female {
	background-color: lightpink;
}

@media (max-width: 576px) {
	/* For små skjermer. */
	#allPersons {
		max-height: 50%;
	}
	#consoleDiv {
		height: 170px;
	}

}